@page "/admin/role"
@model R10.Admin.role.IndexModel
@{
    ViewData["Title"] = "Danh sách Role";
}

<h2>@ViewData["Title"]</h2>
<partial name="_StatusMessage" model = "@Model.StatusMessage"></partial>


<div class="mb-2">
    <a class="btn btn-secondary" asp-page="./Create" >Thêm</a>
    <a class="btn btn-secondary" asp-page="../User/Index" >Quản lí thành viên</a>
</div>

<table class="table">
    <tr>
        <th>Tên Role</th>
        <th>Tác vụ</th>
    </tr>
    @foreach (var item in Model.roles)
    {
        <tr>
            <td>
                @item.Name
                <br>
                @foreach (var c in item.Claims)
                {
                    <small>@c</small><br>
                }
            </td>
            <td>
                <a class="btn btn-success btn-sm" asp-page="./Edit" asp-route-roleid = "@item.Id" >Cập nhật</a>
                <a class="btn btn-success btn-sm" asp-page="./Delete" asp-route-roleid = "@item.Id" >Xóa</a>
            </td>
        </tr>
    }
</table>